> **Problem :**  Build a logistic regression model using the Iris dataset to classify the flower species into two classes (e.g., "setosa" vs. "non-setosa").

In [1]:
import pandas as pd
data = pd.read_csv("iris.csv")
data.sample(10)

     sepal_length  sepal_width  petal_length  petal_width     species
149           5.9          3.0           5.1          1.8   virginica
131           7.9          3.8           6.4          2.0   virginica
85            6.0          3.4           4.5          1.6  versicolor
40            5.0          3.5           1.3          0.3      setosa
27            5.2          3.5           1.5          0.2      setosa
74            6.4          2.9           4.3          1.3  versicolor
86            6.7          3.1           4.7          1.5  versicolor
93            5.0          2.3           3.3          1.0  versicolor
102           7.1          3.0           5.9          2.1   virginica
56            6.3          3.3           4.7          1.6  versicolor

In [2]:
#species column to binary values
data['species'] = data['species'].apply(lambda x: 0 if x == 'setosa' else 1)

In [4]:
data.sample(5)

     sepal_length  sepal_width  petal_length  petal_width  species
38            4.4          3.0           1.3          0.2        0
52            6.9          3.1           4.9          1.5        1
13            4.3          3.0           1.1          0.1        0
101           5.8          2.7           5.1          1.9        1
3             4.6          3.1           1.5          0.2        0

In [5]:
x = data.iloc[:,0:-1]
y = data.iloc[:,-1]

In [6]:
x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [7]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

x_train, x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

clf = LogisticRegression()
clf.fit(x_train,y_train)

y_pred = clf.predict(x_test)

print("accuracy :", accuracy_score(y_test,y_pred))

accuracy : 1.0

In [11]:
def guess(features):
    pred = clf.predict([features])
    if pred == 0:
        print('Setosa')
    else:
        print('non-Setosa')

guess([4.6,	3.1,	1.5,	0.2])

Setosa

c:\Users\shams\anaconda3\envs\samenv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(